body {
    font-family: 'Playfair Display', serif;
    background-color: #d1cfcf;
    color: #333;
}

.navbar {
    background-color: #8c7b75;
}

.navbar-brand, .nav-link {
    color: #949393 !important;
}

.nav-link:hover {
    color: #838282 !important;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #f370e8;
}

.img-fluid {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description {
    text-align: center;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
}